*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    margin: 15px;
}
nav h5{
    margin-left: 135px;
}
.active-item{
    color: #ff6347;
}
.nav-items{
    display: flex;
    font-family: Poppins;
    font-size: 15px;
}
.navimg{
    position: absolute;
    right: 0;
}
.intro-section{
    display: flex;
}
.left-section{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    margin: 50px;
}
div h3{
    font-size:40px;
    font-weight: 200;
    margin-left: 90px;
}
div h3 img{
    width: 40px;
}
div h1{
    font-size: 60px;
    font-weight: bolder;
    margin-left: 100px;
}
div h5 img{
    background-color: #ff4400ca;
    justify-content: center;
    width: 25px;
    border-radius: 15px;
    padding: 5px;
}
div h5 {
    font-size: 30px;
    font-weight: 100;
}
.sub-headlines{
    margin: 40px 140px;
}
.text{
    color: lightgrey;
    font-weight: 100;align-items: center;
}
div .action-btns{
    margin-left: 20px;
}
.action-btn{
    background-color: #ff4400ca;
    height: 40px;
    width: 150px;
    color: #fff;
    border: none;
    font-size: large;
    border-radius: 25px;
}
.right-section{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
}
.discount{
    position: absolute;
    top: 400px;
    right:480px ;
}
.discount-content{
    position: absolute;
    top: 385px;
    right:500px ; 
     /* color: #fff; */
}
div h1{
    font-weight: 900;
    color: #fff;
} 
span{
    font-size: 15px;
}
.dots{
    display: flex;
    justify-content: center;
}
.dot{
    margin: 7px;
}
.yellow-dot{
    background-color: #e4e40e;
    width: 30px;
    height: 30px;
    border-radius: 15px; 
           
}
.tomato-dot{
    background-color: #ff6347;
    width: 30px;
    height: 30px;
    border-radius: 15px;   
}
.black-dot{
    background-color: #000000;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.action-btn{
    margin: auto;
    margin-top: 20px;
}